.trial-list {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    row-gap: 6rem;
  }

  &__empty-state,
  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    text-align: center;
  }
}

/* ---------- MATCH ARTICLE PAGINATION ---------- */
.pagination {
  &__content {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: #333;
    text-decoration: none;

    &--active {
      background-color: #4cb19f;
      color: #fff;
    }
  }

  &__previous,
  &__next {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    color: #4cb19f;
    border: 1px solid #4cb19f;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #4cb19f;
      color: #fff;
    }
  }
}

/* ---------- MOBILE ---------- */
@media screen and (max-width: 850px) {
  .trial-list__items {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .pagination__item {
    margin: 0 0.3rem;
  }

  .pagination__link {
    padding: 1.4rem;
    font-size: 1.4rem;
  }
}